@import url(./fontello.css);
@import url(./normalize.css);
@import url(./reset.css);

/* 숨김 콘텐츠 */
.a11y-hidden,
legend {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip-path: polygon(0 0, 0 0, 0 0);
}

/* 기본 스타일 */
*,
*::before,
*::after {
  box-sizing: border-box;
}

html {
  font-size: 10px;
}

/* 링크 스타일 */
a {
  color: inherit;
  text-decoration: none;
}

/* 본문 스타일 */
body {
  /* em, rem 단위를 사용해보기 */
  font-size: 1.4rem;
  color: #212121;

  font-family: "Pretendard Variable", Pretendard, -apple-system,
    BlinkMacSystemFont, system-ui, Roboto, "Helvetica Neue", "Segoe UI",
    "Apple SD Gothic Neo", "Noto Sans KR", "Malgun Gothic", "Apple Color Emoji",
    "Segoe UI Emoji", "Segoe UI Symbol", sans-serif;
  /* background-color: #ccc;
    background-image: url(./images/bg_flower.png),linear-gradient(to bottom, #ccc 0%, #eee 35%, #fff 70%, #fff 100%);;
    background-repeat: no-repeat, repeat;
    background-position: 50% 0, 0 0; */
  background: url(./images/bg_flower.png) no-repeat 50% 0,
    #ccc linear-gradient(to bottom, #ccc 0%, #eee 35%, #fff 70%, #fff 100%)
      repeat 0 0;
}

/* 레이아웃 */
.header,
.visual,
.main,
.slogan,
.footer-inner {
  width: 940px;
  margin: 0 auto;
}

/* 헤더 */
.header {
  background: #fff;
  padding: 0 30px;
  border-radius: 0 0 15px 15px;
  position: relative;
}

/* 로고 */
.logo {
  position: absolute;
  top: 45px;
  left: 60px;
  z-index: 10;
}

/* 텍스트 링크 모음 */
.member {
  text-align: right;
  padding: 4px 0;
  /* position 속성을 활용하여 .member 영역을 오른쪽으로 10px 만큼 이동하기 */
  /* position: relative;
  right: -10px; */
  /* transform 속성을 활용하여 .member 영역을 오른쪽으로 10px 만큼 이동하기 */
  transform: translateX(10px);
}

/* 텍스트 링크 li */
.member li {
  display: inline-block;
}

.member a {
  padding: 6px 10px;
  display: inherit;
  text-transform: uppercase;
}

/* 마지막 li 요소에 포함된 a 요소를 선택하여 오른쪽 padding 값을 0으로 재정의 하는 방법 */
/* .member li:last-child a {
  padding-right: 0;
} */

.divider {
  margin-right: 4px;
}

/*메인메뉴*/
.navigator {
  padding-bottom: 40px;
}

.menu {
  border-top: 2px solid currentColor;
  background: #e85e2c
    linear-gradient(
      to bottom,
      #ef9126 0%,
      #e85e2c 35%,
      #e85e2c 70%,
      #ef9126 100%
    );
  border-radius: 0 0 5px 5px;
  padding-left: 230px;
  height: 47px;
  position: relative;
}

.menu > li:nth-child(-n + 3) {
  position: relative;
}

.menu-item {
  float: left;
  border-left: 2px solid #fff;
}

/* 구체성 -> 10점 */
.menu-button {
  border: 0;
  background: transparent;
  padding: 0 23px;
  line-height: 45px;
  font-size: 15px;
  font-weight: 700;
  color: #fff;
  text-shadow: 1px 1px 0 #000, -1px -1px 0 #000;
}

/* 구체성 -> 20점 */
.is-active .menu-button {
  color: #ff0;
}

.is-active .menu-button::after {
  content: "";
  display: block;
  border-top: 2px solid #000;
}

.sub-menu {
  position: absolute;
  top: 47px;
  display: none;
  padding: 4px 0;
}

.menu-html,
.menu-css,
.menu-standards {
  left: 0;
}

.menu-accessibility,
.menu-qna,
.menu-archive {
  right: 0;
}

.is-active .sub-menu {
  display: block;
  white-space: nowrap;
}

.sub-menu li {
  display: inline-block;
}

.sub-menu a::before {
  font-family: "fontello";
  content: "\e805";
  margin-right: 0.5rem;
}

.sub-menu a:hover::before,
.sub-menu a:focus::before {
  content: "\e801";
}

.sub-menu a {
  display: inline-block;
  padding: 6px 0;
}

.sub-menu a:hover,
.sub-menu a:focus {
  color: #f00;
}

/* 비주얼 */
@keyframes moveEffect {
  0% {
    font-size: 12px;
    color: rgba(0, 0, 0, 0);
    transform: translate(0, 0);
  }
  50% {
    font-size: 36px;
    color: rgba(0, 0, 0, 0.6);
  }
  100% {
    font-size: 24px;
    color: rgba(0, 0, 0, 1);
    transform: translate(400px, 75px);
  }
}

.visual {
  /* background: orange; */
  height: 120px;
  position: relative;
}

@keyframes fadeEffect {
  0% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}

.visual::before,
.visual::after {
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  top: 0;
  left: 0;

  /* animation-name: fadeEffect;
  animation-duration: 2000ms;
  animation-iteration-count: infinite;
  animation-direction: alternate; */
  animation: fadeEffect 2000ms alternate infinite;
}

.visual::before {
  /* background-image: ,;
  background-repeat: no-repeat;
  background-position: 0 -10px, 600px 0;  */

  background: url(./images/ani_flower_01.png) no-repeat 0 -10px,
    url(./images/ani_flower_02.png) no-repeat 600px 0;
  animation-delay: 1000ms;
}

.visual::after {
  /* background-image: url(./images/ani_flower_03.png), url(./images/ani_flower_04.png);
  background-repeat: no-repeat;
  background-position: 300px 0, 800px 0; */

  background: url(./images/ani_flower_03.png) no-repeat 300px 0,
    url(./images/ani_flower_04.png) no-repeat 800px 0;
}

.visual-text {
  font-family: Georgia, "Times New Roman", Times, serif;
  /* background-color: coral; */
  animation-name: moveEffect;
  animation-duration: 800ms;
  animation-fill-mode: forwards;
  animation-timing-function: ease-in-out;
  /* display: inline-block; 사용말고 absolute가 더 나은 이유?*/
  position: absolute;
}

/* 메인 */
.main {
  background: #fff;
  min-height: 450px;
  display: flow-root;
  padding: 30px 15px;
  border-radius: 15px 15px 0 0;
}

.group {
  margin: 0 15px;
  float: left;
}

.group1 {
  width: 250px;
}
.group2 {
  background-color: salmon;
  width: 380px;
}
.group3 {
  background-color: gold;
  width: 190px;
}

/*로그인*/
.login {
  background: orange radial-gradient(circle at right top, orange, orangered);
  border-radius: 5px;
  box-shadow: 5px 5px 0 0 grey;
  padding: 10px;
}

.login-title {
  color: yellow;
  font-size: 17px;
  text-indent: 1rem;
  font-weight: 700;
}

.login-form {
  background-color: #fff;
  margin-top: 10px;
  border-radius: 10px 10px 0 0;
  padding: 10px 10px 0 10px;
}

.sign {
  background-color: #fff;
  border-radius: 0 0 10px 10px;
  padding: 0 10px 10px 10px;
}

.login-form fieldset {
  position: relative;
  border-bottom: 1px solid grey;
  padding-bottom: 5px;
}

.login-form label {
  display: inline-block;
  width: 4em;
}
.login-form input {
  border-radius: 5px;
  width: 90px;
  height: 25px;
  border: 1px solid grey;
  padding: 1px 1px 1px 5px;
  margin-bottom: 5px;
}

.login-button {
  position: absolute;
  padding:0 10px;
  height: 55px;
  background-color: orangered;
  color: white;
  border: none;
  top: 0;
  right: 1px;
  border-radius: 4px;
  font-size: 13px;
}



.sign {
  padding-top: 5px;
  /* float */
  /* overflow: auto; */

  /* flex */
  /* display: flex;
  justify-content: space-between;
  flex-flow: row nowrap; */
}

/* float */
.sign::after{
  content:"";
  display: block;
  clear:both;
}

.sign li:first-child{
  float:left;
}

  /* float */
.sign li:last-child{
  float:right;
}

  /* float:left; */
/* .sign:last-child{
  padding-right: 35px;
} */

  /* inline-block */
/* .sign li{
  display: inline-block;
} */

.sign a {
  font-size: 12px;
}

.sign a::before {
  font-family: "fontello";
  content: "\e803";
  margin-right: 0.5rem;
  color:orangered;
}



/* 슬로건 */
.slogan {
  background: skyblue;
  height: 10vh;
  clear: both;
}
/* 푸터 */
.footer {
  background: #ccc
    linear-gradient(to bottom, #ccc 0%, #eee 35%, #fff 70%, #fff 100%);
}
/*푸터 이너*/
.footer-inner {
  background: silver;
  height: 15vh;
}
